body, html{
    margin: 0;
    font-family: 'Inter';
    height: 100%;
}

.infoContent{
    margin-top: 206px;
    margin-left: 328px;
    margin-right: 98px;
}

.helpSectionBackImage{
    position: fixed;
    top: 225px;
    right: 96px;
}

.helpSectionBackImage:hover{
    cursor: pointer;
    border-radius: 50%;
    background-color: #e2e6ec;
}

h1{
    font-size: 61px;
}

h3{
    font-size: 27px;
}

td.first{
    padding-right: 35px;
}

span.join{
    color: #29abe2;
}

b{
    font-size: 27px;
}

@media (max-width: 860px){
    .infoContent{
        margin-left: 5%;
        margin-right: 5%;
    }

    .helpSectionBackImage{
        display: none;
    }
}