body{
    font-family: inter;
}

.legalNoticeContent{
    margin-top: 206px;
    margin-left: 328px;
    margin-right: 98px;
    padding-bottom: 50px;
}

.legalNoticeSectionBackImage{
    position: fixed;
    top: 225px;
    right: 96px;
}

.legalNoticeSectionBackImage:hover{
    cursor: pointer;
    border-radius: 50%;
    background-color: #e2e6ec;
}

h1{
    font-size: 61px;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 27px;
    margin-bottom: 0px;
}

p{
    margin-top: 5px;
}

.landscape-warning {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
  }
  
  .landscape-warning-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 80%;
    width: 80%;
    border-radius: 30px;
    text-align: center;
    padding: 16px;
  }
  

@media (max-width: 860px){
    .legalNoticeContent{
        margin-left: 5%;
        margin-right: 5%;
    }

    .legalNoticeSectionBackImage{
        display: none;
    }
}

@media screen and (orientation: portrait), (min-width: 860px) {
    .landscape-warning {
      visibility: hidden;
    }
  }
  
  @media screen and (orientation: landscape) and (max-width: 860px) {
    .landscape-warning {
      visibility: visible;
    }
  }