body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

a {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(246, 247, 248);
}

a {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

.log-in-input {
  max-width: 422px;
  width: 100%;
}

.log-in-input form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.log-in-box {
  padding-top: 48px;
  padding-right: 88px;
  padding-bottom: 48px;
  padding-left: 88px;
  height: 493px;
  width: 98%;
  max-width: 652px;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  transition: all 0.7s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-log-in-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.log-in-header {
  display: flex;
  justify-content: center;
}

.log-in-text {
  font-size: 61px;
  font-weight: 700;
}

.under-line-title {
  width: 150px;
  height: 3px;
  background-color: rgb(40, 171, 226);
  border-radius: 3px;
  margin-bottom: 32px;
  margin-top: 16px;
}

.log-in-input input {
  width: 100%;
  height: 48px;
  border: none;
  margin-left: 10px;
  font-size: 20px;
}

.log-in-input input::placeholder {
  color: rgb(209, 209, 209);
  font-size: 20px;
}

.input-feedback {
  font-size: 13px;
  width: 100%;
  max-width: 422px;
  height: 14px;
  color: rgb(255, 129, 144);
  margin-top: -16px;
  margin-bottom: 16px;
}

.log-in-btn {
  background-color: rgb(41, 54, 71);
  color: rgb(255, 255, 255);
  width: 110px;
  height: 48px;
  border-radius: 8px;
}

.accept-policy {
  padding-left: 8%;
  width: 91%;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 32px;
}

.accept-policy a {
  color: rgb(42, 171, 226);
}

.accept-policy a:hover {
  text-decoration: underline;
}

.form-input {
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 24px;
}

.form-input img {
  margin-right: 10px;
}

.register-arrow-back {
  position: relative;
  top: 55px;
  left: 0px;
}

.checkbox-log-in {
  transition: transform 0.3s ease;
  cursor: pointer;
  border-radius: 3px;
}

.checkbox-log-in:hover {
  transform: scale(0.95);
}

.login-guest-login-div {
  font-size: 21px;
  font-weight: 700;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.guest-log-in-btn {
  width: 187px;
  height: 46px;
  color: rgb(43, 54, 71);
  border: solid 1px rgb(43, 54, 71);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header-right {
  position: absolute;
  top: 67px;
  right: 122px;
  display: flex;
  align-items: center;
  height: max-content;
}

.not-a-user {
  padding-right: 35px;
  font-size: 20px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
}

.header-right a {
  width: 91px;
  height: 49px;
  background-color: rgb(43, 54, 71);
  color: white;
  border-radius: 8px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 40px;
  gap: 16px;
  color: rgb(168, 168, 168);
  font-size: 16px;
}

footer a {
  padding: 8px;
}

.moving-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top 1s ease, left 1s ease, width 1s ease, height 1s ease; /* Add transition for width and height */
  width: 274px;
  height: 334px;
  z-index: 3;
}

.moving-img img {
  width: 100%;
  height: 100%;
}

.moving-img.move {
  position: absolute;
  top: 141px;
  left: 127px;
  width: 100px;
  height: 122px;
}

.opacity-layer {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  width: 100%;
  height: 100vh;
  background-color: rgb(246, 247, 248);
  opacity: 1;
  pointer-events: none;
  transition: opacity 2s; /* Opacity transition with a duration of 1 second */
}

.opacity-layer.hidden {
  opacity: 0; /* When the hidden class is added, set opacity to 0 */
}

.hide {
  display: none;
}

@media (max-width: 1200px) {
  .log-in-box {
    padding-top: 28px;
    padding-right: 48px;
    padding-bottom: 28px;
    padding-left: 48px;
  }
}

@media (max-height: 900px) {
  .header-right {
    position: absolute;
    top: 27px;
    right: 30px;
  }
}

@media (max-width: 860px) {
  .header-right {
    top: calc(100vh - 150px);
    right: calc(50% - 130px);
  }

  .moving-img.move {
    width: 64px;
    height: 78px;
    top: calc(40px);
    left: calc(37px);
  }

  .moving-img {
    width: 100px;
    height: 122px;
    top: calc(50% - 61px);
    left: calc(50% - 17px);
  }

  .moving-img img {
    position: absolute;
    top: 21px;
    left: 22px;
  }
}

@media (max-width: 770px) {
  .log-in-box {
    padding: 0px;
    width: 98%;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
  }
  body {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 400px) {
  .log-in-box {
    padding-top: 32px;
  }

  .login-guest-login-div {
    flex-direction: column;
    align-items: center;
  }

  .log-in-btn {
    margin-bottom: 21px;
    width: 180px;
  }
  .guest-log-in-btn {
    width: 180px;
    margin-bottom: 32px;
  }

  .log-in-text {
    font-size: 47px;
  }
}

@media (max-width: 350px) {
  .log-in-text {
    font-size: 42px;
  }
}

@media (max-height: 820px) {
  .under-line-title {
    margin: 8px;
  }

  .moving-img.move {
    width: 44px;
    height: 58px;
    top: calc(20px);
    left: calc(17px);
  }

  .log-in-box {
    padding: 12px;
    height: max-content;
    position: absolute;
    top: 13%;
    left: 3%;
    max-width: 94%;
  }

  .header-right {
    top: calc(100vh - 18%);
    right: calc(50% - 130px);
  }

  .guest-log-in-btn {
    margin: 8px;
  }

  .log-in-btn {
    margin: 8px;
  }
}
