body{
  max-height: 100vh;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 348px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 5px 0 8px #888888;
}

#helpImage:hover {
  width: 24px;
  height: 24px;
}

.headerImages {
  display: flex;
  align-items: center;
}

.headerLogo {
  display: none;
}

.relative {
  position: relative;
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.relative:hover {
  background-color: #e2e6ec;
}

span.absolute {
  position: absolute;
  top: 16px;
  left: 13px;
  right: 13px;
  color: #29abe2;
  font-size: 20px;
  text-align: center;
}

span.absolute:hover {
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 5;
  width: 232px;
  background-color: #2a3647;
  display: flex;
  flex-direction: column;
}

.sidebarLogo {
  margin-top: 64px;
  margin-left: 66px;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 114px;
}

.menuLinks {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 46px;
  width: 166px;
  margin-bottom: 15px;
  padding-left: 66px;
}

.menuLinks:hover {
  background-color: #2a3d59;
  cursor: pointer;
}

.icon {
  margin-right: 10px;
  height: 25px;
  width: 25px;
}

.menuPTag {
  color: #cdcdcd;
}

.privacyLegalLinks {
  position: fixed;
  bottom: 64px;
  margin-left: 66px;
}

p.privacyLegalLink {
  color: #a8a8a8;
}

p.privacyLegalLink:hover {
  color: #29abe2;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.dNone {
  display: none;
}

.popup {
  width: 150px;
  height: 158px;
  background-color: #2a3647;
  position: fixed;
  top: 96px;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 20px 0px 20px 20px;
  z-index: 999;
}

.popupLinks {
  color: #cdcdcd;
  margin-left: 26px;
  cursor: pointer;
}

.popupHelp {
  display: none;
}

.background {
  background-color: #091931;
}

p.textColor{
    color: #29ABE2;
}

@media (max-width: 860px) {
  .header {
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .headerText {
    display: none;
  }

  .headerLogo {
    display: block;
    width: 40px;
  }

  .headerHelpImage {
    display: none;
  }

  .sidebar {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: calc(100% - 73.75px);
    width: 100%;
  }

  .privacyLegalLinks {
    display: none;
  }

  .sidebarLogo {
    display: none;
  }

  .menu {
    flex-direction: row;
    margin-top: 0;
    height: 100%;
    justify-content: space-between;
  }

  .menu a {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menuLinks {
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    padding-left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .popupHelp {
    display: block;
  }

  .icon {
    margin-right: 0;
  }

  .menuPTag {
    margin-bottom: 0;
    margin-top: 4px;
    font-size: 12px;
  }
}
