body {
  box-sizing: border-box;
  font-family: "Inter";
  font-weight: 400;
  margin: 0;
  background-color: #f6f7f8;
}

.single-edit-subtask {
  display: flex;
  align-items: center;
  gap: 4px;
}

.contacts-assigned {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  margin-top: -10px;
  z-index: 6;
  max-height: 168px;
  overflow-y: scroll;
  position: relative;
  top: 0;
}

.contacts-initialen {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.edit-subtask {
  background-color: #ffffff;
  border: none !important;
  padding: 4px 16px;
  width: 100%;
}

a:hover {
  cursor: pointer;
}

input[type="date"]:hover {
  cursor: pointer;
}

.over-div {
  position: absolute;
  left: 328px;
  top: 206px;
  max-height: 100vh;
}

textarea {
  padding: 12px 16px;
  height: 120px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  font-size: 20px;
  font-family: "inter";
}

.headline-area-template {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headline-add-task-template {
  font-size: 61px;
  font-weight: 700;
}

textarea:focus {
  border: 1px solid #29abe2;
}

h2 {
  margin: 0;
  top: 206px;
  left: 328px;
  font-size: 61px;
  font-weight: 700;
}

.add-task-informations {
  display: flex;
  flex-direction: column;
  padding-top: 48px;
  padding-right: 26px;
}

.hover-prio-btn:hover {
  box-shadow: 0 4px 4px 3px rgba(0, 0, 0, 0.25);
}

.border-none[type="text"] {
  border: none !important;
  width: 100%;
}

.leftside-add-task {
  width: 440px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-right: 48.25px;
}

.parting-line-add-task {
  border: 1px solid #d1d1d1;
  height: 424px;
  top: 231px;
  left: 376.25px;
}

.left-and-rightside {
  display: flex;
  padding-bottom: 146px;
}

.singleSubTaskElement {
  position: relative;
  z-index: 3;
}

.pd-inline-start {
  padding-inline-start: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  width: -webkit-fill-available;
}

.pd-inline-start:focus-within {
  border-bottom: 1px solid #29abe2;
}

.label-edit-subtask {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 440px;
}

.rightside-add-task {
  width: 440px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-left: 48.25px;
}

.required-field-title {
  height: 12px;
}

.input-add-task {
  width: 440px;
  display: flex;
  justify-content: flex-end;
}

.add-icon {
  width: 14px;
  height: 14px;
}

.d-flex {
  display: flex;
}

.add-icon:hover {
  padding: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.required-field-description {
  height: 12px;
  font-family: Inter;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.4px;
}

.width-440 {
  width: 440px;
}

.fz-20 {
  font-size: 20px;
  line-height: 24px;
}

.description-input {
  height: 96px;
  width: 440px;
}

.description-textarea {
  top: 112px;
  height: 168px;
}

.add-icon {
  display: flex;
  align-items: center;
}

.input-description {
  height: 24px;
  font-size: 20px;
  font-weight: 400;
  font-family: Inter;
}

.d-flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}

.position-prio {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.priority-selection {
  display: flex;
  gap: 16px;
  align-items: center;
}

.priority-selection:hover {
  cursor: pointer;
}

.selection-field {
  width: 136px;
  padding: 16px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  flex: 1;
}

.selection-field:hover {
  cursor: pointer;
}

.container-input-required {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.vs-hidden {
  visibility: hidden;
  transition: all ease-in-out 100ms;
}

.ps-fixed {
  position: fixed;
}

.reuired-notice-cancel-create {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding: 8px 0;
}

.color-FF8190 {
  color: #ff8190;
}

.buttons-clear-create {
  height: 56px;
  display: flex;
  gap: 16px;
}

.btn-add-task {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 16px;
  border-radius: 10px;
}

.bg-color-create {
  background-color: #2a3647;
  color: #ffffff;
}

.typography-clear {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

.typography-create {
  font-size: 21px;
  line-height: 25.2px;
  font-weight: 700;
}

.container-create:hover {
  cursor: pointer;
}

.dropdown-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-category {
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  background-color: #ffffff;
  border-radius: 10px;
  font-size: 20px;
  line-height: 24px;
  outline: none;
  z-index: 4;
}

.new-subtask {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
}

.input-new-subtask {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  flex-grow: 2;
  border: none !important;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.input-new-subtask:focus {
  outline: none;
}

.icon-subtask-field {
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 8px;
  background-color: #ffffff;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.icon-subtask-field:hover {
  cursor: pointer;
}

.list-element-subtasks {
  display: flex;
  justify-content: space-between;
  background-color: #ffff;
}

.prio-area {
  display: flex;
  align-items: center;
  gap: 8px;
}

.active-input-subtasks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
