<div id="id-contact-mask-title" class="contact-mask-title">
  <img class="logo-contact-form" src="../img/logoBright.png" alt="">
  <div class="contact-mask-title-first">Edit contact</div>
  <div class="contact-mask-title-second"></div>
  <div class="contact-mask-title-underline"></div>
</div>
<div id="id-contact-mask-workbench" class="contact-mask-workbench">
  <div id="id-mask-contact-img" class="mask-contact-img">
    <div id="id-mask-contact-img-div" class="mask-contact-img-div">
      <img src="../img/person.png" alt="">
    </div>
  </div>
  <div id="id-mask-contact-info" class="mask-contact-info">
    <button class="contact-form-exit-x" onclick="exitContactForm(event)">
      <img src="../img/close.png" alt="">
    </button>
    <button class="close-contact-mask" onclick="exitContactForm(event)">
      <img src="../img/close-white.svg" alt="">
    </button>
    <form onsubmit="SaveEditedContact(); return false;">
      <div class="contact-form-input-div">
        <input id="id-edit-contact-input-name" required placeholder="Name" type="text">
        <img src="../img/person-grey.png" alt="">
      </div>
      <div class="contact-form-input-div">
        <input id="id-edit-contact-input-email" required placeholder="Email" type="email">
        <img src="../img/mail-grey.png" alt="">
      </div>
      <div class="contact-form-input-div">
        <input id="id-edit-contact-input-phone" required placeholder="Phone" type="number" pattern="[+]*">
        <img src="../img/call-grey.png" alt="">
      </div>
      <div class="contact-mask-btn">
        <button class="contact-form-cancel-btn  join-button-empty" onclick="deleteContactFromForm(event)">
          <div> Delete </div>
        </button>
        <button class="contact-form-create-contact-btn join-button" type="submit">
          <div>Save</div>
          <img src="../img/check-white.png" alt="">
        </button>

      </div>
    </form>

  </div>
</div>