<img src="/img/logoBright.png" class="sidebarLogo" width="100px" height="122px">
<div id="menu" class="menu">
    <div onclick="setActiveSite('summery')" id="summery" class="menuLinks">
        <img class="icon" src="/img/iconSummary.png">
        <p class="menuPTag">Summary</p>
    </div>
    <div onclick="setActiveSite('add_task')" id="add_task" class="menuLinks">
        <img class="icon" src="/img/iconAddTask.png">
        <p class="menuPTag">Add Task</p>
    </div>
    <div onclick="setActiveSite('board')" id="board" class="menuLinks">
        <img class="icon" src="/img/iconBoard.png">
        <p class="menuPTag">Board</p>
    </div>
    <div onclick="setActiveSite('contacts')" id="contacts" class="menuLinks">
        <img class="icon" src="/img/iconContacts.png">
        <p class="menuPTag">Contacts</p>
    </div>
</div>
<div class="privacyLegalLinks">
        <p onclick="setActiveSite('privacyPolicy')" id="privacyPolicy" class="privacyLegalLink">Privacy Policy</p>
        <p onclick="setActiveSite('legalNotice')" id="legalNotice" class="privacyLegalLink">Legal notice</p>
</div>